@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";
// GENERAL ****
.wrapper {
    max-width: 90%;
    margin: 0 auto;
}
@font-face {
    font-family: Enyo-Slab_Medium;
    src: url(enyo_slab/Enyo-Slab_Medium.otf);
}
// HEADER ****
header {
    height: 100vh;
    background-image: url("../assets/app-logo.svg"), linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    background-repeat: no-repeat;
    background-position: center;
    h1 {
        font-family: Enyo-Slab_Medium;
        font-size: 60px;
        padding: 10px;
        margin: 5%;
        letter-spacing: 3px;
        text-align: center;
    }
}
// FORM ****
form {
    width: 90%;
    margin: auto;
    input, button, select {
        display: block;
        font-family: $bodyFont;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    input {
        padding: 15px;
    }
    .formTop, .formBottom {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }
    .locator_container {
        float: left;
        width: 33.3%;
    }
    .cityInput_container {
        float: left;
        margin: 0 auto;
        width: 33.3%;
        position: relative;
    }
    .cuisineInput_container {
        clear: both;
        margin: 0 auto;
        width: 33.3%;
    }
    #cityInput {
        float: left;
        margin: 0 auto;
        padding: 20px 15px;
        font-size: 20px;
        border: 3px solid $mainGreen;
        text-align: center;
        position: relative;
        &::placeholder {
            color: $mainGreen;
            font-weight: 700;
        }
    }
    #citySubmit {
        float: left;
        padding: 20px 15px;
        font-size: 20px;
        background: $mainGreen;
        border: 3px solid $mainGreen;
        color: white;
        text-shadow: 1px 1px 0 $mainBlack;
        position: absolute;
        left: 245px;
    }
    .selectStyled {
        float: left;
        border: none;
        padding: 15px;
        background-color: #F3F4E9;
    }
    .citySelect {
        display: none;
        width: 330px;
        #items {
            width: 300px;
        }
    }
    .citySelectShow{
        display: block;
    }
    select {
        background: transparent;
        border: none;
        padding: 15px;
        &:focus {
            padding: 15px;
        }
    }
    .locator {
        padding: 20px 15px;
        background: $mainGreen;
        color: white;
        text-shadow: 1px 1px 0 $mainBlack;
        font-weight: 700;
        font-size: 20px;
        border: 3px solid transparent;
        cursor: pointer;
        margin: 0 auto;
        transition: all 0.3s ease;
        &:hover {
            color: $mainGreen;
            background: white;
            border: 3px solid $mainGreen;
        }
    }
    .foodSelect {
        width: 100%;
        margin: 18% auto;
    }
    #cuisine {
        width: 100%;
    }
    span {
        float: left;
        font-family: Enyo-Slab_Medium;
        font-size: 24px;
        letter-spacing: 3px;
        font-weight: 700;
        margin-top: 25px;
        text-align: center;
        width: 33.3%;
    }
    #formSubmit {
        padding: 20px 30px;
        background: $mainGreen;
        clear: both;
        color: white;
        text-shadow: 1px 1px 0 $mainBlack;
        font-weight: 700;
        font-size: 20px;
        border: 3px solid transparent;
        cursor: pointer;
        margin: 1% auto;
        &:hover {
            background: $mainCream;
            color: $mainBlack;
            text-shadow: none;
            border: 4px solid $mainBlack;
            animation: bounce 1s;
        }
    }
// RESTOS ****
#restaurantContainer {
    width: 50%;
    height: 500px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
	    li {
	        width: 100%;
	        list-style: none;
	        font-family: $bodyFont;
	        .restaurantImage {
	        	max-width: 100%;
	        }
	        .restaurantName, .restaurantRating, .restaurantPrice, .restaurantReviews {
	            padding: 5px;
	            background: $mainCream;
	            display: inline-block;
	            font-size: 16px;
	            letter-spacing: 1px;
	        }
	        a {
	        	text-decoration: none;
	        	color: $mainGreen;
	        }
	    }
    }



// MAP ****
#mapContainer {
    height: 500px;
    width: 50%;
    float: left;
}

footer {
	span {
		font-family: $bodyFont;
		font-size: 14px;
	}
	img {
		width: 75px;
		margin: auto 10px;
	}
}






// MEDIA QUERIES ****
// /* Portrait tablet and small desktops */
@media (max-width: 940px) {
    header h1 {
        margin: 15% 0;
    }
    form {
        .formTop {
            margin: 5% auto;
        }
        .cityInput_container, .locator_container {
            float: none;
            width: 100%;
        }
        .cityInput_container {
            margin: 0 auto;
        }
        .cuisineInput_container {
            margin: 10% auto;
            width: 50%;
        }
        #cityInput {
            float: none;
            // display: inline-block;
            margin: 0 auto;
            padding: 20px 30px;
            font-size: 20px;
            text-align: center;
            left: -5%;
        }
        #citySubmit {
            // float: none;

            left: 64%;
            top: 0;
        }
        .selectStyled {
            float: none;
            width: 50%;
            margin: 0 auto;

            #items {
                margin: 0 auto;
            }
        }
        select {
            padding: 15px;
            &:focus {
                padding: 15px;
            }
        }
        .locator {
            padding: 20px 30px;
        }
        .foodSelect {
            width: 100%;
            margin: 5% auto;

            #cuisine {
                width: 68%;
                margin: auto;
                text-align: center;

                option {
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
        span {
            float: none;
            display: inline-block;
            width: 100%;
            text-align: center;
            margin: 5% auto;
        }
    }
    .app .wrapper{
        margin-top: 10%;
    }
}
// /* Landscape phone to portrait tablet */
@media (max-width: 768px) {

  
}
// /* Landscape phones and down */
@media (max-width: 480px) {
    
    header h1 {
        font-size: 48px;
    }

    form {
        width: 100%;

        .locator {
            padding: 15px 30px;
        }
        #citySubmit {
            padding: 15px 0;
            left: 73%;
        }
        #cityInput {
            padding: 15px 0;
            left: -9%
        }
        #formSubmit {
            padding: 15px 20px;
        }

        .foodSelect {
            margin: 0;

            #cuisine {
                padding: 0;
                font-size: 12px;
                width: 100%;
                margin: 0;
            }
        }
    }
}