@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";

// GENERAL ****
.wrapper {
	max-width: 90%;
	margin: 0 auto;
}
@font-face {
	font-family: Enyo-Slab_Medium;
	src: url(enyo_slab/Enyo-Slab_Medium.otf);
}

// HEADER ****
header {
	height: 100vh;
	background-image: url("../assets/app-logo.svg"), linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
	background-repeat: no-repeat;
	background-position: center;
	h1 {
		font-family: Enyo-Slab_Medium;
		font-size: 60px;
		padding: 10px;
		margin-left: 50px;
		letter-spacing: 3px;

	}
}

// FORM ****
form {
	width: 90%;
	margin: 0 auto;
	input, button, select {
		display: block;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	input {
		padding: 15px;
	}

	.formTop, .formBottom {
		width: 100%;
	}

	.cuisineInput_container, .cityInput_container {
		margin: 0 auto;
	}

	.cityInput_container {
		width: 40%;
		float: left;
	}
	
	.locator_container {
		width: 40%;
		float: left;
	}
	.cuisineInput_container {
		clear: both;
		width: 40%;
		margin: 0 auto;
	}

	#cityInput {
		float: left;
		margin: 0 auto;
		padding: 20px 30px;
		font-size: 20px;
		border: 3px solid $mainGreen;
		text-align: center;
		&::placeholder {
			color: $mainGreen;
			font-weight: 700;
		}
	}
	#citySubmit {
		float: left;
		padding: 20px 30px;
		font-size: 20px;
		background: $mainGreen;
		border: 3px solid $mainGreen;
		color: white;
		text-shadow: 1px 1px 0 $mainBlack;
	}

	.selectStyled {
		float: left;
		border: none;
		padding: 15px;
		background-color: #F3F4E9;
	}
	select {
		background: transparent;
		border: none;
		padding: 15px;
		&:focus {
			padding: 15px;
		}
	}
	.locator {
		padding: 20px 30px;
		background: $mainGreen;
		color: white;
		text-shadow: 1px 1px 0 $mainBlack;
		font-weight: 700;
		font-size: 20px;
		border: 3px solid transparent;
		cursor: pointer;
		margin: 0 auto;
		transition: all 0.3s ease;
		&:hover {
			color: $mainGreen;
			background: white;
			border: 3px solid $mainGreen;
		}
	}

	span {
		float: left;
		font-family: Enyo-Slab_Medium;
		font-size: 24px;
		letter-spacing: 3px;
		font-weight: 700;
	}
	#formSubmit {
		padding: 20px 30px;
		background: $mainGreen;
		color: white;
		text-shadow: 1px 1px 0 $mainBlack;
		font-weight: 700;
		font-size: 20px;
		border: 3px solid transparent;
		cursor: pointer;
		margin: 0 auto;
		&:hover {
			background: $mainCream;
			color: $mainBlack;
			text-shadow: none;
			border: 4px solid $mainBlack;
			animation: bounce 1s;
		}
	}
}



// RESTOS ****
#restaurantContainer {
	width: 50%;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		li {
			width: 100%;

		}
	}
}


// MAP ****

#mapContainer {
	height: 500px;
	width: 50%;
}