@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";

// GENERAL ****
.wrapper {
	max-width: 90%;
	margin: 0 auto;
}
@font-face {
	font-family: Enyo-Slab_Medium;
	src: url(enyo_slab/Enyo-Slab_Medium.otf);
}

// HEADER ****
header {
	height: 100vh;
	background-image: url("../assets/app-logo.svg"), linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
	background-repeat: no-repeat;
	background-position: center;
	h1 {
		font-family: Enyo-Slab_Medium;
		font-size: 60px;
		padding: 10px;
		margin-left: 50px;
		letter-spacing: 3px;

	}
}

// FORM ****
form {
	width: 90%;
	margin: 0 auto;
	border: 1px solid red;
	input, button, select {
		display: block;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	input {
		padding: 15px;
	}

	.formTop, .formBottom {
		width: 100%;
	}

	.cuisineInput_container, .cityInput_container {
		margin: 0 auto;
	}

	.cityInput_container {
		width: 40%;
		float: left;
	}
	
	.locator_container {
		width: 40%;
		float: left;
	}
	.cuisineInput_container {
		clear: both;
		width: 40%;
		margin: 0 auto;
	}

	#cityInput {
		float: left;
		margin: 0 auto;
	}

	.selectStyled {
		float: left;
		border: none;
		padding: 15px;
		border-radius: 2px;
		background-color: #F3F4E9;
	}
	select {
		background: transparent;
		border: none;
		padding: 15px;
		&:focus {
			padding: 15px;
		}
	}
	.locator {
		padding: 20px 30px;
		border-radius: 2px;
		border: none;
		margin: 0 auto;
	}

	span {
		float: left;
	}
	#formSubmit {
		width: 20%;
		margin: 0 auto;
		background-color: $mainGreen;
		border: none;
		border-radius: 2px;
		padding: 15px 20px;
	}
}



// RESTOS ****
#restaurantContainer {
	width: 50%;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		li {
			width: 100%;

		}
	}
}


// MAP ****

#mapContainer {
	height: 500px;
	width: 50%;
}